@charset "utf-8";
@import url("reset.css");
/* @import url('common.css'); */
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 200;
    src: url("../../static/font/NotoSansKR-Light.eot");
    src: url("../../static/font/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../../static/font/NotoSansKR-Light.woff2") format("woff2"), url("../../static/font/NotoSansKR-Light.woff") format("woff"), url("../../static/font/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 500;
    src: url("../../static/font/notokr-medium.eot");
    src: url("../../static/font/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../../static/font/notokr-medium.woff2") format("woff2"), url("../../static/font/notokr-medium.woff") format("woff"), url("../../static/font/notokr-medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 700;
    src: url("../../static/font/notokr-bold.eot");
    src: url("../../static/font/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../../static/font/notokr-bold.woff2") format("woff2"), url("../../static/font/notokr-bold.woff") format("woff"), url("../../static/font/notokr-bold.otf") format("opentype");
}

/* @import url(//spoqa.github.io/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/css/SpoqaHanSans-jp.css); 
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
  url('../static/font/SpoqaHanSansBold.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansBold.woff') format('woff'),
  url('../static/font/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
  url('../static/font/SpoqaHanSansRegular.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansRegular.woff') format('woff'),
  url('../static/font/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
  url('../static/font/SpoqaHanSansLight.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansLight.woff') format('woff'),
  url('../static/font/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
  url('../static/font/SpoqaHanSansThin.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansThin.woff') format('woff'),
  url('../static/font/SpoqaHanSansThin.ttf') format('truetype');
}
*/

html>/**/body {
    overflow-x: auto;
    overflow-y: scroll;
}
body {
    font-family: "NotoSansKR", sans-serif;
}
a,
button {
    cursor: pointer;
}
#wrap {
    overflow: auto;
    width: 100%;
}
@keyframes scrolling-up {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}
@keyframes scrolling-down {
    0% {
        top: 0px;
    }
    100% {
        top: -100px;
        opacity: 1;
    }
}
.scrolling-up {
    top: 0;
    background: rgba(32, 32, 32, 0.7);
    animation: scrolling-up 1s;
    animation-direction: alternate;
}
.scrolling-down {
    top: -114px;
    background: rgba(32, 32, 32, 0.5);
    animation: scrolling-down 1s;
    animation-direction: alternate;
}
#header.active {
    background-color: #ffffff;
}
#header.active nav ul li a {
    color: #000000;
}
#header {
    position: fixed;
    width: 100%;
    height: 114px;
    opacity: 1;
    transition: top 0.7s cubic-bezier(0, 0.21, 0.03, 1.01), opacity 0.7s cubic-bezier(0, 0.21, 0.03, 1.01);
    -webkit-transition: top 0.7s cubic-bezier(0, 0.21, 0.03, 1.01), opacity 0.7s cubic-bezier(0, 0.21, 0.03, 1.01);
}
#header .inner_line {
    width: 100%;
    height: 100%;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}
#header .inner {
    position: relative;
    display: flex;
    width: 1740px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid #c64;
}
#header h1 {
    position: absolute; /* top:28px; left:93px;*/
}
#header nav {
    position: absolute; /* top:28px; */
    left: 570px;
    display: flex;
    flex-direction: row;
}
#header nav ul {
    display: flex;
    flex-direction: row;
}
#header nav ul li {
}
#header nav ul li a {
    display: block;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

#container {
    width: 100%; /* padding-top:114px; */
}
#content {
    min-width: 1740px;
    height: auto !important;
    height: 500px;
    min-height: 500px;
    margin: 0 auto;
}
.main_section_01 {
    height: 840px;
    background-color: pink;
}
.main_section_01 .txt_tit {
    color: rgba(255, 255, 255, 1);
}
.main_section_01 span {
    /*   font-size: 16px; */
}
.main_section_01 span b {
    font-size: 60px;
}
.main_section_03 {
    width: 100%;
    height: 240px;
    background: url(../../images/main/bgimg_mainsection_03.png) no-repeat 0 0 / cover;
}
.main_section_03 .inner {
    position: relative;
    width: 1740px;
    height: 100%;
    margin: 0 auto;
    outline: 1px solid #c64;
}
.main_section_03 .news_box {
    /* display: ; */
    position: absolute;
    top: 20px;
    left: -35px;
    width: 741px;
    height: 189px;
    padding-top: 35px;
    padding-left: 85px;
    color: #fff;
    border: 1px solid #7a7a78;
}
.main_section_03 .news_box > strong {
    display: block;
    font-weight: 700;
    font-size: 60px;
}
.main_section_03 .news_box > span {
    font-weight: 500;
    font-size: 20px;
}
.main_section_03 .btn_viewmore {
    position: absolute;
    top: 50%;
    left: 540px;
    width: 200px;
    height: 58px;
    margin-top: -29px;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #262626;
    background-color: #262626;
}
.main_section_03 .news_list {
    position: absolute;
    top: 45px;
    right: 400px;
    display: flex;
    flex-direction: column;
}
.main_section_03 .news_list li {
}
.main_section_03 .news_list li a {
    display: block;
    font-size: 20px;
    line-height: 48px;
    color: #fff;
}
.main_section_08 {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: rgba(6, 45, 0, 0.4);
    background-image: url(../../images/main/bgimg_main_section_08.jpg);
}
.main_section_08 .txt_tit {
    padding-top: 112px;
    font-size: 52px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.main_section_08 .txt_tit > b {
}
.main_section_08 .txt_sub {
    padding-top: 24px;
    padding-bottom: 57px;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.main_section_08 button {
    text-align: center;
}

#footer {
    display: table;
    width: 100%; /* height:190px; */
    background-color: rgba(38, 38, 38, 1);
}
#footer .inner {
    position: relative;
    width: 1740px;
    margin: 0 auto;
    padding: 50px 0 55px 0px;
    color: rgba(158, 157, 157, 1);
    outline: 1px solid #c64;
}
#footer .inner > img {
    position: absolute;
    top: 50px;
    left: 0;
}
#footer .inner .txt_area {
    margin-left: 274px;
}
#footer .inner .txt_01 {
    font-size: 14px;
}
#footer .inner .txt_01 li {
    display: inline-flex;
    flex-direction: row;
}
#footer .inner .txt_01 li a {
    display: block;
    color: rgba(255, 255, 255, 1);
}
#footer .inner .txt_02 {
    display: flex;
    flex-direction: row;
}
#footer .inner .txt_02 li a {
    display: block;
    color: rgba(158, 157, 157, 1);
}
#footer .inner .btn_area {
    position: absolute;
    top: 56px;
    right: 24px;
}
#footer .inner .btn_area button {
    width: 150px;
    height: 41px;
    margin-left: 14px;
    border: 1px solid #9e9d9d;
    color: #000000;
    background-color: #fff;
}

.btn_top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #090909;
}

.title1 {
    line-height: 100px;
    font-size: 80px;
    color: #fff;
    font-weight: bold;
}

.control_buttons {
    text-align: center;
    z-index: 100;
    position: absolute;
    display: block;
    top: 629px;
    left: 320px;
}
.control_buttons button {
    display: block;
    width: 12px;
    height: 14px;
}
.control_buttons .start_button {
    display: none;
    z-index: 100;
    cursor: pointer;
    background: url("../../images/main/play.png");
}
.control_buttons .stop_button {
    z-index: 100;
    cursor: pointer;
    background: url("../../images/main/stop.png");
}

/* 마우스 스크롤 */
.scroll {
    position: fixed;
    left: 50%;
    bottom: 10px;
    z-index: 20;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.scroll a {
    position: absolute;
    bottom: 60px;
    right: -10px;
    display: block;
    z-index: 200;
    transition: transform 600ms cubic-bezier(0.65, 0.06, 0.19, 0.96), opacity 800ms ease-in-out;
    -webkit-transition: transform 600ms cubic-bezier(0.65, 0.06, 0.19, 0.96), opacity 800ms ease-in-out;
    transform: none;
    height: 72px;
    width: 28px;
    margin-left: -14px;
    cursor: pointer;
}

.scroll a:after {
    /* background: url("../img/main/ico_mouse.png") no-repeat center; */
    position: absolute;
    display: block;
    width: 51px;
    height: 80px;
    left: 0;
    bottom: 0;
    content: "";
    text-align: center;
    line-height: normal;
    font-size: 15px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.scroll a:before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 17px;
    height: 66px;
    background: url(../images/common/ico_scrolldown.png) no-repeat center;
    animation: scroll-arrow 4000ms infinite;
    -webkit-animation: scroll-arrow 4000ms infinite;
}
@keyframes scroll-arrow {
    0%,
    40%,
    50%,
    60%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    45% {
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    55% {
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 27px;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}
.scroll-downs::after {
    position: absolute;
    top: 46px;
    left: 25px;
    content: "";
    height: 23px;
    border-left: 2px solid #fff;
}
.mousey {
    width: 3px;
    padding: 18px 22px;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 8px;
    height: 14px;
    border-radius: 30%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
    margin-left: -2px;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.gnb {
    /* 2022 06 30 */
    position: absolute;
    top: 55px;
    right: 297px;
    /* //2022 06 30 */
}
.gnb li {
    /* 2022 06 30 */
    padding-left: 60px;
    display: inline-block;
    font-size: 20px;
    /* 2022 06 30 */
}
.gnb li a {
    opacity: 0.6;
}
.gnb li.acitve a {
    opacity: 1;
}

#content {
    position: relative;
}
.sub_text {
    line-height: 100px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

.mauto {
    position: relative;
    margin: 0 auto;
    width: 1358px;
}

#wrap {
    height: 100%;
    max-width: 1920px; /* 2022 06 30 */
}

#container {
    min-height: 100%;
}
/* 구분선 type1 */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 130px);
    padding: 33px 90px; /* 2022 06 30 */
    z-index: 9999;
    opacity: 0;
    transition: top 0.7s cubic-bezier(0, 0.21, 0.03, 1.01), opacity 0.7s cubic-bezier(0, 0.21, 0.03, 1.01);
    -webkit-transition: top 0.7s cubic-bezier(0, 0.21, 0.03, 1.01), opacity 0.7s cubic-bezier(0, 0.21, 0.03, 1.01);
}

.load #header {
    /* top: 30px; */ /* 2022 06 30 */
    opacity: 1;
}
