@charset "utf-8";
@import url('reset.css');
/* @import url('common.css'); */
@font-face {
  font-family: 'NotoSansKR';  
  font-style: normal;
  font-weight: 200;
  src: url('../../static/font/notokr-regular.eot');
  src: url('../../static/font/notokr-regular.eot?#iefix') format('embedded-opentype'),
       url('../../static/font/notokr-regular.woff2') format('woff2'), 
       url('../../static/font/notokr-regular.woff') format('woff'),          
       url('../../static/font/notokr-regular.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: url('../../static/font/notokr-medium.eot');
  src: url('../../static/font/notokr-medium.eot?#iefix') format('embedded-opentype'),
       url('../../static/font/notokr-medium.woff2') format('woff2'), 
       url('../../static/font/notokr-medium.woff') format('woff'),          
       url('../../static/font/notokr-medium.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: url('../../static/font/notokr-bold.eot');
  src: url('../../static/font/notokr-bold.eot?#iefix') format('embedded-opentype'),
       url('../../static/font/notokr-bold.woff2') format('woff2'), 
       url('../../static/font/notokr-bold.woff') format('woff'),          
       url('../../static/font/notokr-bold.otf') format('opentype');
}

/* @import url(//spoqa.github.io/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/css/SpoqaHanSans-jp.css); 
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
  url('../static/font/SpoqaHanSansBold.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansBold.woff') format('woff'),
  url('../static/font/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
  url('../static/font/SpoqaHanSansRegular.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansRegular.woff') format('woff'),
  url('../static/font/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
  url('../static/font/SpoqaHanSansLight.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansLight.woff') format('woff'),
  url('../static/font/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
  url('../static/font/SpoqaHanSansThin.woff2') format('woff2'),
  url('../static/font/SpoqaHanSansThin.woff') format('woff'),
  url('../static/font/SpoqaHanSansThin.ttf') format('truetype');
}
*/

html>/**/body {overflow-x:auto;overflow-y:scroll;}
body {font-family: 'NotoSansKR', sans-serif;}
a,button  {cursor:pointer;}
#wrap {overflow: auto;width:100%;}
@keyframes scrolling-up {
  0%   {top: -100px;}
  100% {top: 0px;}
}
@keyframes scrolling-down {
  0%   {top: 0px;}
  100% {top: -100px;opacity:1;}
}
.scrolling-up {top:0;background:rgba(32,32,32,0.5);animation: scrolling-up 1s;animation-direction: alternate;}
.scrolling-down {top:-114px;background:rgba(32,32,32,0.3);animation: scrolling-down 1s;animation-direction: alternate;}
#header.active {background-color: #ffffff;}
#header.active nav ul li a {color:#000000}
#header {position: fixed;width:100%;height:114px;
  opacity:1;
  transition:top 0.7s cubic-bezier(0,.21,.03,1.01), opacity 0.7s cubic-bezier(0,.21,.03,1.01);
  -webkit-transition:top 0.7s cubic-bezier(0,.21,.03,1.01), opacity 0.7s cubic-bezier(0,.21,.03,1.01);
}
#header .inner_line {width:100%;height:100%;border-left:1px solid #707070;border-right:1px solid #707070}
#header .inner {position:relative;display:flex;width:1740px;height:100%;margin:0 auto;align-items: center;justify-content:space-between;outline:1px solid #c64;}
#header h1 {position:absolute;/* top:28px; left:93px;*/}
#header nav {position:absolute;/* top:28px; */left:570px;display:flex;flex-direction:row;}
#header nav ul {display: flex;flex-direction: row;}
#header nav ul li {}
#header nav ul li a {display: block;padding-left:45px;padding-right:45px;font-size:20px;color:#000000}

#container {width:100%;}
#content {min-width:1740px;height:auto !important;height:500px;min-height:500px;margin:0 auto}
.main_section_01 {height:840px;background-color:pink;}
.main_section_01 .txt_tit {color:rgba(255, 255, 255, 1)}
.main_section_01 span {font-size:16px;}
.main_section_01 span b {font-size:60px;}
.main_section_03 {width:100%;height:240px;background:url(../../images/main/bgimg_mainsection_03.png) no-repeat 0 0/cover;}
.main_section_03 .inner {position:relative;width:1740px;height:100%;margin:0 auto;outline:1px solid #c64;}
.main_section_03 .news_box {display:;position:absolute;top:22px;left:-35px;width:741px;height:189px;padding-top:35px;padding-left:85px;color:#fff;border:1px solid #7a7a78;}
.main_section_03 .news_box > strong {display:block;font-weight:700;font-size:60px;}
.main_section_03 .news_box > span {font-weight:500;font-size:20px;}
.main_section_03 .btn_viewmore {position:absolute;top:50%;left:540px;width:200px;height:58px;margin-top:-29px;font-size:16px;color:#ffffff;border:1px solid #262626;background-color:#262626;}
.main_section_03 .btn_viewmore:after {icon_arrow_01}
.main_section_03 .news_list {position:absolute;top:45px;right:400px;display: flex;flex-direction: column;}
.main_section_03 .news_list li {}
.main_section_03 .news_list li a {display:block;font-size:20px;line-height:48px;color:#fff;}
.main_section_08 {position: relative;width:100%;height:450px;background-color:rgba(6, 45, 0, 0.4) ;background-image: url(../../images/main/bgimg_main_section_08.jpg);}
.main_section_08 .txt_tit {padding-top: 112px;font-size:52px;text-align:center;color:rgba(255, 255, 255, 1)}
.main_section_08 .txt_tit > b {}
.main_section_08 .txt_sub {padding-top: 24px;padding-bottom:57px;font-size:16px;text-align:center;color:rgba(255, 255, 255, 1)}
.main_section_08 button {text-align: center;}

#footer {display:table;width:100%;/* height:190px; */background-color:rgba(38, 38, 38, 1);}
#footer .inner {position: relative;width:1740px;margin:0 auto;padding:50px 0 55px 0px;color:rgba(158, 157, 157, 1);outline:1px solid #c64;}
#footer .inner > img {position:absolute;top:50px;left:0}
#footer .inner .txt_area {margin-left: 274px;}
#footer .inner .txt_area .txt_01 {display:inline-flex;flex-direction: row;font-size:14px;}
#footer .inner .txt_area .txt_01 li:first-child{padding-left:0;} 
#footer .inner .txt_area .txt_01 li {position:relative;padding:0 15px;color:#9e9d9d}
#footer .inner .txt_area .txt_01 li span {font-weight:500;}
#footer .inner .txt_area .txt_01 li:last-child:after{display:none;}
#footer .inner .txt_area .txt_01 li:after {position:absolute;content:'';top:50%;right:0;width:1px;height:10px;margin-top:-5px;background-color: #9e9d9d;}
#footer .inner .txt_area address {font-size:16px;;line-height:48px;color:#9e9d9d}
#footer .inner .txt_area .txt_copyright {font-size:16px;color:#9e9d9d}
#footer .inner .btn_area {position: absolute;top:56px;right:24px;}
#footer .inner .btn_area button {width:150px;height:41px;margin-left:14px;border:1px solid #9e9d9d;color:#000000;background-color:#fff;}

.btn_top {position:fixed;right:0;bottom:0;width:60px;height:60px;background-color:#090909;}